
.banner-container {
    position: relative;
    
}


.banner-image {
    margin: 0;
    width: 100%;
    height: auto;
    display: block;
}



.lorem {
    position: absolute;
    top: 39%; 
    left: 20%; 
    z-index: 10; 
}

.lorem h1 {
    font-family: 'Roboto', sans-serif;
    color: purple;
    margin: 0; 
    padding: 10px; 
}

.custom-button {
    background-color: rgb(232, 112, 48); 
    color: #fff; 
    border: none;
    padding: 10px 20px; 
    margin-top: 10px; 
    cursor: pointer; 
    border-radius: 5px; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}

.custom-button:hover {
    background-color: #e85c32;
}

@media (max-width: 768px) {
    .lorem {
        top: 50%;
        left: 10%; 
        transform: translateY(-50%); 
        text-align: left; 
    }

    .lorem h1 {
        color: purple;

        background-repeat: no-repeat;
        padding: 5px 0; 
        left: auto; 
        font-size: 20px; 
        margin: 0; 
    }

    .custom-button {
        padding: 2px 10px; 
        margin-top: 20px;
        font-size: 16px;
        display: block;  
        width: auto; 
        text-align: center;
        margin-left: 0; 
    }
}

