.lorem-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.lorem-container p{
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(40, 39, 39);
}



.img1-container {
    width: 65%;
}

.img1-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block
}

.text-left {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 100%;
    margin-left: 51px;
    
}

.text-left h1 {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    color: rgb(100, 42, 123);
    margin-bottom: 10px;
    margin-top: 0;
    text-align: left;
}

.text-left p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    margin-top: 0;
    margin-left: calc(20% - width-of-L);
}

.text-left p::before {
    content: "";
    display: inline-block;
    width: calc(20% - width-of-L); 
}



@media (max-width: 768px) {
    .lorem-container {
        flex-direction: column;
        background: linear-gradient(to right, #f8bfa0, #ceb6fc); 
    }

    .text-left, .img1-container {
        background-color: #ffffff;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
        width: 94%; 
        margin: 20px auto; 
        padding: 25px;
        border-radius: 6px;
    }

    .img1-container img {
        display: block;
        border-radius: 6px; 
        max-width: 100%; 
    }

    .text-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-left h1 {
        font-size: 1.6em;
        font-weight: 500;
        color: #343a40;
        margin-bottom: 15px;
        font-family: 'Open Sans', sans-serif;
    }

    .text-left p {
        font-size: 1.05em;
        color: #606672;
        line-height: 1.6em;
        margin-top: 10px;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        padding-left: 15px;  
        background: repeating-linear-gradient(
          180deg,
          transparent 0px, transparent 1.6em, 
          #ffffff 1.6em, #ffffff 3.2em
        );
    }

    .text-left p::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 15px;  
        background: repeating-linear-gradient(
          180deg,
          #ffffff 0px, #ffffff 1.6em, 
          transparent 1.6em, transparent 3.2em
        );
    }
    
    .text-left::before,
    .text-left::after,
    .img1-container::before,
    .img1-container::after {
        content: none;
    }
}
