html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}


.logo-container {
    position: absolute;
    top: 20px;
    left: 50px;
    display: flex;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centered-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;
    text-align: center;
    color: white;
}

.stand-text {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: 3px;
}

.btn-primary {
    position: absolute;
    top: 60%;
    left: 50%;
    background: linear-gradient(45deg, #bf6fed, #9e58c9);
    color: white;
    border: none;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s, transform 0.15s;
    outline: none;
    white-space: nowrap;
    text-align: center;
}

.btn-primary:hover {
    background: linear-gradient(45deg, #9e58c9, #bf6fed);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1.05);
}

.btn-primary:active {
    background: #7e3fa2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(0.95);
}

@media (max-width: 900px) {
    .centered-text {
        font-size: 5vw;
        margin-top: 5%;
        
    }
}

@media (max-width: 768px) {
    .centered-text {
        font-size: 5vw;
        margin-top: 5%;
        margin-bottom: 5%;
        line-height: 1;
        
    }

    .stand-text {
        font-size: 8vw;
        margin-top: 2%;
    }

    .btn-primary {
        font-size: 4vw;
        width: 175px;
        height: 25px;
        margin-top: 1%;
    }
    .logo-container img {
        width: 150px;
        height: auto;
        position:relative;
    }
    
}

.main-container {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.logo-container {
    animation: fadeIn 1s 0.5s forwards; 
}

.centered-text {
    animation: fadeIn 1s 1s forwards; 
}

.stand-text {
    animation: fadeIn 1s 1.5s forwards; 
}

.btn-primary {
    animation: fadeIn 1s 2s forwards; 
}
.logo-container, .centered-text, .stand-text, .btn-primary {
    opacity: 0;
}
